db.sqlite3

/media/models
/media/uploads

/catboost_info
/docs/source
/docs/make.bat
/docs/Makefile
/docs/build/doctrees
/docs/build/_sources

# Ignore __pycache__ directories and compiled Python files
__pycache__/
*.pyc